{% extends "includes/base.twig" %}
{% block contenu %}
    <article id="contenu">
        <form method="post" action="?page=entreprise&action={{ entreprise is not null ? 'modifier&id=' ~ entreprise.num_entreprise : 'ajouter' }}">
            <table class="list">
                <thead>
                <tr>
                    <th colspan="2">Information</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nom de l'entreprise* :</td>
                    <td>
                        <fieldset><input type="text" name="nom_entreprise" value="{{ entreprise.raison_sociale }}" required></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Nom du contact :</td>
                    <td>
                        <fieldset><input type="text" name="nom_contact" value="{{ entreprise.nom_contact }}"></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Nom du responsable :</td>
                    <td>
                        <fieldset><input type="text" name="nom_responsable" value="{{ entreprise.nom_resp }}"></fieldset>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="list">
                <thead>
                <tr>
                    <th colspan="2">Contact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Rue* :</td>
                    <td>
                        <fieldset><input type="text" name="rue" value="{{ entreprise.rue_entreprise }}" required></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Code postal* :</td>
                    <td>
                        <fieldset><input type="number" name="code_postal" value="{{ entreprise.cp_entreprise }}" required></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Ville* :</td>
                    <td>
                        <fieldset><input type="text" name="ville" value="{{ entreprise.ville_entreprise }}" required></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Téléphone* :</td>
                    <td>
                        <fieldset><input type="tel" name="telephone" value="{{ entreprise.tel_entreprise }}" pattern="^0[1-9]([ \-]?[0-9]{2}){4}$" placeholder="0X XX XX XX XX" required></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Fax :</td>
                    <td>
                        <fieldset><input type="tel" name="fax" value="{{ entreprise.fax_entreprise }}" pattern="^0[1-9]([ \-]?[0-9]{2}){4}$" placeholder="0X XX XX XX XX"></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Email :</td>
                    <td>
                        <fieldset><input type="email" name="email" value="{{ entreprise.email }}"></fieldset>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="list">
                <thead>
                <tr>
                    <th colspan="2">Divers</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Observation :</td>
                    <td>
                        <fieldset><textarea name="observation" value="{{ entreprise.observation }}"></textarea></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Url du site :</td>
                    <td>
                        <fieldset><input type="url" name="url" value="{{ entreprise.site_entreprise }}"></fieldset>
                    </td>
                </tr>
                <tr>
                    <td>Niveau* :</td>
                    <td>
                        <fieldset><input type="text" name="niveau" value="{{ entreprise.niveau }}" required></fieldset>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="list">
                <thead>
                <tr>
                    <th colspan="2">Spécialité</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Spécialité :</td>
                    <td>
                        <select multiple name="specialite">
                            <option value="SLAM" {% if 'SLAM' in entreprise.specialite %}selected{% endif %}>SLAM</option>
                            <option value="SISR" {% if 'SISR' in entreprise.specialite %}selected{% endif %}>SISR</option>
                            <option value="AM" {% if 'AM' in entreprise.specialite %}selected{% endif %}>AM</option>
                            <option value="SN" {% if 'SN' in entreprise.specialite %}selected{% endif %}>SN</option>
                            <option value="CG" {% if 'CG' in entreprise.specialite %}selected{% endif %}>CG</option>
                            <option value="NRC" {% if 'NRC' in entreprise.specialite %}selected{% endif %}>NRC</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <div class="aide">
                <a>Les champs comportant le symbole * sont obligatoires</a>
            </div>
            <br>
            <input type="submit" value="{{ entreprise is not null ? 'Modifier' : 'Créer' }}">
            <input type="reset" value="Reset">
        </form>
    </article>
{% endblock %}